{
    "app_id": null,
    "app_name": "{{ exercise_title }}",
    "app_description": "{{ app_description }}",
    "app_url": "{{ project_slug }}",
    "stripped_prefix": false,
    "access_level": "public",
    "acl_userlist": [],
    "acl_group_names": [],
    "idp_enabled": false,
    "idp_scope": null,
    "maintainers": []
}
